body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
  background-color: #fcf5ed;
}

.content {
  min-height: calc(100vh - 70px);
}

.footer {
  height: 50px;
}

footer {
  background-color: #748e63;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: #748e63;
  color: #a8ce7d;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-height: 40px;
  max-width: 100px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #a8ce7d;
  transition: color 0.3s ease;
  padding: 10px;
}

.menu-container a:hover {
  color: #f9b572;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  font-size: 1.25rem;
}

.flex-container {
  display: flex;
  height: 100%;
  padding: 15px;
  gap: 5px;
}

.flex-container > div {
  background: #fcf5ed;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.item1 {
  /* flex:0 1 auto; */
  align-self: flex-start;
}

.imgescamita {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.imgazar {
  transform: scaleX(-1);
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.item2 {
  flex: 1 1 auto;
  flex-grow: 1;
  height: 640px;
}

.item3 {
  /* flex:0 1 auto; */
  align-self: flex-end;
}

.container-galeria {
 max-width: 1224px;
 width: 90%;
 margin: auto;
 padding: 40px 0;
}

.titulo-galeria {
  margin-bottom: 2rem;
}

.galeria-img {
  display: flex;
  gap: 20px;
}



.imagen-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  
}

.team_container{
  width: 100%;
  height: auto;
    
}

.text {
  color: #879b70;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: 40px;
  text-transform: uppercase;
  text-align: center;
}

.row {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.tarj-perfil {
  background-color: #ffcc80;
  width: 270px;
  height: 270px;
  margin: 20px 10px 10px 10px;
}

.profile-content {
  padding: 15px;
}

.img-card {
  width: 80px;
  height: auto;
  border-radius: 50px;
}

.profile-image {
  text-align: center;

}

.descripcion {
  text-align: center;
}

.descripcion h2 {
  color: #748e63;
  font-size: 20px;
}

.descripcion p{
  font-size: 13px;
  line-height: 1.3em;
  margin-top: -10px;
  color: black;
}

.btn-div {
  text-align: center;
}

.btn {
  background-color: #a8ce7d;
  color: #fcf5ed;
  cursor: pointer;
  width: 150px;
  height: 38px;
  font-size: 13px;
  font-weight: 600px;
  box-shadow: 3px 3px 3px 3px #748e63;
  border-radius: 3px;
  outline: none;
  border: none;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .item3 {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: -30px;
  }

  .flex-container {
    flex-direction: column;
  }

  .item2 {
    order: 1;
  }
  
  .item1,
  .item3 {
    order: 2;
    
  }

  .galeria-img {
    flex-direction: column;
  }

  .row {
    width: 100%;
  }
}
